@model PluginListModel
@{
    //page title
    ViewBag.Title = T("Admin.Configuration.Plugins.Local").Text;
}
@using (Html.BeginForm(null, null, FormMethod.Post, new {id = "plugins-form"}))
{
    @Html.AntiForgeryToken()
    <div class="section-header">
        <div class="title">
            <img src="@Url.Content("~/Administration/Content/images/ico-configuration.png")" alt=""/>
            @T("Admin.Configuration.Plugins.Local")
        </div>
        <div class="options">
            <a href="@Url.Action("ReloadList")" class="k-button">@T("Admin.Configuration.Plugins.ReloadList")</a>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            //install a plugin
            $("#plugins-grid").on("click", ".install-plugin-link", function(e) {
                $("html, body").animate({ scrollTop: 0 }, 400);
                showThrobber("@Html.Raw(HttpUtility.JavaScriptStringEncode(T(\
                                  "Admin.Configuration.Plugins.Fields.Install.Progress\").Text))")
                                  ;
                                  return true;
})
                                  ;

                                  //uninstall a plugin
                                  $
                                  ("#plugins-grid").on("click", ".uninstall-plugin-link", function(e)
    {
    $
        ("html, body").animate(
        {
            0
        }
    ,
        400)
        ;
        showThrobber("@Html.Raw(HttpUtility.JavaScriptStringEncode(T(\"Admin.Configuration.Plugins.Fields.Uninstall.Progress\").Text))");
        return true;
    }
                                  )
                                  ;
}

    );; </script>
                    <p>
    <h4>    private @T("Admin.Configura tion.Plugins.Description"):</h4>
        <
    ol>
            <li> @T("Admin.Configura tion.Plugins.Description.Step1")</li>
          
      <li> @T("Admin.Configura tion.Plugins.Description.Step2")</li>
          
      <li> @T("Admin.Configura tion.Plugins.Description.Step3")</li>
          
      <li> @T("Admin.Configura tion.Plugins.Description.Step4")</li>
          
      <li> @T("Admin.Configura tion.Plugins.Description.Step5")</li>
        </
    ol>
        <p>
            You can download more nopCommerce plugins on our <a href="http://www.nopcommerce.com/extensions-and-themes.aspx?utm_source=admin-panel&utm_medium=plugins&utm_campaign=admin-panel" target="_blank">extensions directory</a>
        < /
        p 
    >
        </
        p 
    >

        private    
        <

        table cl 

        private a
            ss = "adm    i
        private nCont 

        private nt 
    "> 
        <
        tr 
    >


        private  <

        t
            d 

        class ="adi

        private tl 

        private  ">

        No 
        private Label Fo 
        r(
        private mode
            l.SearchLoadModeI 

        d 
    ):
        </
        td 
    >

        private  <

        t
            d 

        class ="ada

        private ta 

        private  >

        private t("SearchLoadModeI 
        d 
    ", Model. Available
        private oadMods 
    )
        </
        td 
    >
        tr 

        private  > 
    
            <

        tr 
    >

        private
            private  <

        t
            d 

        class ="adi

        private tl 

        private  ">

        No 
        private Label Fo 
        r(
        private
            model.SearchGroup 

    ):
        </
        td 
    >

        private  <

        t
            d 

        class ="ada

        private ta 

        private  >

        private t("SearchGroup",
        M
            od 

        el.Available
            roups 

    )
        </
        td 
    >
        tr 

        private  > 
    
            <

        tr 
    >

        private
            private  <

        t
            d 

        colspan 
    ="


        private                     <
        input tyo 
        private n 
    " id="
        sea r 
        ch 
    -
        plugi 
        private s 
    " 

        class ="k -button

        private valu e = "@T("
        Admin 

        private Commo
            n.Sear 

        private ch 
    ")" />
          
        </
        td 
    >
        tr 
        private  >


        private  </
        table 
    >
        bl 
        private e cla 
        ss 
    ="adm    i
        private nCont 

        private nt 
    "> 
        <
        tr 
    >


        private  <

        t
            d 

    >

        private     
        <

        div id = "g
        private rid 
    ">< / div>

        private      
        <

        script 
    >

        private         
        $(

        doc(f 
        private unction(
            )

        private 
        {
        $)

            .
            kendoGrid(
            {
            private
                (Url.Actio
                n("ListSelect", "Plugin"))
                ",
            }
        } ,
    },
                                   
                                                                
                                                 display_kendrid_error(e);
                                    // Cancel thnges
                                    this.cancelCs();
                                },
         
                                                                                                                                          },
         
                                                                                                                                                                               },
         
                                                                                                             },
         
                                                                                                                                                      urati
                                               on.Plugins.Fields.Group")"
            
                                                                   }, {
                       
         
                                                           urati
                on.Plugins.Fields.Logo")",
           
                                                            oUrl#\" />",
                                 i
                                     r" },
            
                                  
                               i
                                   r" }
             
                                               
         
                                                                urati
                on.Plugins.Info")",
           
                                      e#</b>" +
                                         "<br />@T(\"Ad.Configuration.Plugins.Fields.Version\"): #:Version#" +
    "<br />@T(\"Admin  .Configuration.Plugins.Fields.Aut

    or\"):                          
    "<br />@T(\"Admin. C oni g urat
    ion.Plugins.Fields.SystemName\"): #:Sy                  "<br />@T(\"Admin. C oni g urat
    ion.Plugins.Fields.DisplayOrder\"): #:Disp                  "<br />@T(\"Admin. C oni g urat
    ion.Plugins.Fields.Installed\"): <img src=\"@Url.Content(\"~/Administration/Content/images/\")active-#=Installed#                  "
# if(CanChangeEna
                

bled) {
# <br />@T(\"Admin.Configuration.Plugins.Fields.IsEnabled\"): <img src=\"@Url.Content(\"~/Administration/Content/images/\")active-#=IsEnabled#.gif\                  //allow configuration only when a plugin has a configuration U                  "<br /># if(ConfigurationUrl && ConfigurationUrl.length > 0) {# <a class=\"plugin-button plugin-button-configure\" href=\"#=ConfigurationUrl#\">@T(\"Admin.Configuration.Plugins.Fields.Configure\")</a>&nbsp;&nbsp;&n                  "<a class=\"plugin-button plugin-button-edit\" href=\"javascript:OpenWindow('@Url.Content(\"~/Admin/Plugin/EditPopup\")?systemName=#=SystemName#&btnId=btnRefresh&formId=plugins-form', 800, 300, true);\">@T(\"Admin.Common. 
     

             
             field:       
       
          title: "@T("Admin.Configuration.Plugins.F 
ields.Inst         
          template: "# if(Installed) {# <input type=\"submit\" name=\"uninstall-plugin-link-#=SystemName#\" class=\"plugin-button uninstall-plugin-link\" value=\"@T(\"Admin.Configuration.Plugins.Fields.Uninstall\")\" /> #} else {#  <input type=\"submit\" name=\"install-plugin-link-#=SystemName#\" class=\"plugin-button install-plugin-link\" value=\"@T(\"Admin.Configuration.Plugins.Fields.Install\")                 
 
    h
        tributes: {style: "
    e
xt-           
 
        a 
ttributes: { style: "
ext      
                  });
                    });
                </script>
            </td>
        </tr>
        <tr>
            <td width="100%">
                <input type="submit" id="btnRefresh" style="display: none" />
                <script type="text/javascript">
                    $(document).ready(function () {
                        $("#btnRefresh").click(function () {
                            //refresh grid
                            var grid = $("#plugins-grid").data("kendoGrid");
                            grid.dataSource.read();

                            //return false to don't reload a page
                            return false;
                        });
                    });
                </script>
                <script type="text/javascript">
                    $(document).ready(function () {
                        //search button
                        $("#search-plugins").click(function () {
                            //search
                            var grid = $("#plugins-grid").data("kendoGrid");
                            grid.dataSource.read();

                            return false;
                        });
                    });

                    function additionalData() {
                        var data = {
                            SearchLoadModeId: $("#SearchLoadModeId").val(),
                            SearchGroup: $("#SearchGroup").val()
                        };
                        addAntiForgeryToken(data);
                        return data;
                    }

                </script>
            </td>
        </t    r>
    </table>
}