@using TinyCms.Core.Domain.Common
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.ContentManagement.Polls").Text;
}
@Html.AntiForgeryToken()
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-content.png")" alt=""/>
        @T("Admin.ContentManagement.Polls")
    </div>
    <div class="options">
        <a href="@Url.Action("Create")" class="k-button">@T("Admin.Common.AddNew")</a>
    </div>
</div>
<table class="adminContent">
    <tr>
        <td>
            <div id="polls-grid"></div>

            <script>
                $(document).ready(function() {
                    $("#polls-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("List", "Poll"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: @(defaultGridPageSize),
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [@(gridPageSizes)]
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [
                        {
                            field: "Name",
                            title: "@T("Admin.ContentManagement.Polls.Fields.Name")"
                        }, {
                            field: "LanguageName",
                            title: "@T("Admin.ContentManagement.Polls.Fields.Language")"
                        }, {
                            field: "DisplayOrder",
                            title: "@T("Admin.ContentManagement.Polls.Fields.DisplayOrder")",
                            width: 200,
                        }, {
                            field: "Published",
                            title: "@T("Admin.ContentManagement.Polls.Fields.Published")",
                            width: 100,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            template: "<img src=\"@Url.Content(\
                                                      "~/Administration/Content/images/\")active-#=Published#.gif\" />"
}

    ,
        {
            "ShowOnHomePage",
            "@T("
            Admin.ContentManagement.Polls.Fields.ShowOnHomePage
            ")",
            100,
            {
                "text-align:center"
            }
        ,
            {
                "text-align:center"
            }
        ,
            "<img src=\"@Url.Content(\"~/Administration/Content/images/\")active-#=ShowOnHomePage#.gif\" />"
        }
    ,

{
    private field 
: "StartDate",
    private title 
: "@T("
    private Admin.ContentManagement.Polls.Fields.StartDate 
")",
    private width 
: 200,
    private type 
: "date",
    private format 
: "{0:G}"
}
,
{
    private field 
: "EndDate",
    private title 
: "@T("
    private Admin.ContentManagement.Polls.Fields.EndDate 
")",
    private width 
: 200,
    private type 
: "date",
    private format 
: "{0:G}"
}
,
{
    private field 
: "Id",
    private title 
: "@T("
    private Admin.Common.Edit 
")",
    private width 
: 100,
    private template 
: "<a href=\"Edit/#=Id#\">@T(\"Admin.Common.Edit\")</a>"
}
]
}
);
                    });
                    </script>
        </td>
    </tr>
</table>