@using TinyCms.Services.Security
@using TinyCms.Web.Framework.Menu;
@{
    //load sitemap
    var siteMap = new TinyCms.Web.Framework.Menu.XmlSiteMap();
    siteMap.LoadFrom("~/Administration/sitemap.config");
}
@helper RenderMenuItem(TinyCms.Web.Framework.Menu.SiteMapNode item)
{
    string url = null;
    if (!string.IsNullOrEmpty(item.ControllerName) && !string.IsNullOrEmpty(item.ActionName))
    {
        url = Url.Action(item.ActionName, item.ControllerName, item.RouteValues, null, null);
    }
    else if (!string.IsNullOrEmpty(item.Url))
    {
        url = item.Url.StartsWith("~/", StringComparison.Ordinal) ? Url.Content(item.Url) : item.Url;
    }
    <li>
        @if (!String.IsNullOrEmpty(url))
        {
            <a href="@url">
                @if (!String.IsNullOrEmpty(item.ImageUrl))
                {
                    <text>
                        <img alt="" src="@Url.Content(item.ImageUrl)" />
                    </text>
                }
                @item.Title
            </a>
        }
        else
        {
            if (!String.IsNullOrEmpty(item.ImageUrl))
            {
                <text>
                    <img alt="" src="@Url.Content(item.ImageUrl)" />
                </text>
            }
            @item.Title
        }
        @{
            var childNodes = item.ChildNodes.Where(x => x.Visible).ToList();
        }
        @if (childNodes.Any())
        {
            <ul>
                @foreach (var childItem in childNodes)
                {
                    @RenderMenuItem(childItem)
                }
            </ul>
        }
    </li>
}

<ul id="admin-menu">
    @{
        //standard (default) items
        var rootNode = siteMap.RootNode;

    
    }
    @foreach (var item in rootNode.ChildNodes.Where(x => x.Visible))
    {
        @RenderMenuItem(item)
    }
</ul>
<script>
    $(document).ready(function() {
        $("#admin-menu").kendoMenu();
    });
</script>