@using TinyCms.Core.Domain.Common
@{
    var defaultGridPageSize = EngineContext.Current.Resolve<AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<AdminAreaSettings>().GridPageSizes;
    //page title
    ViewBag.Title = T("Admin.Configuration.Languages.Localization").Text;
}
@Html.AntiForgeryToken()
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-content.png")" alt=""/>
        @T("Admin.Configuration.Languages.Localization")
    </div>
</div>
@if (ViewBag.AllLanguages != null)
{
    <table class="adminContent" style="margin-bottom: 10px;">
    <tr>
    <td class="adminTitle">
        @T("Admin.Configuration.Languages.Select")
    </td>
    <td class="adminData">
    @Html.DropDownList("localeresource-language", (IEnumerable<SelectListItem>) ViewBag.AllLanguages, new {onchange = "onLocaleResourceLanguageSelected(this.value);"})
    <script type="text/javascript">
        function onLocaleResourceLanguageSelected(languageid) {
            window.location = "@(Url.Action(\
                                   "Resources\") + \"?languageId=\")" + languageid;
}
</
                                   script >
                                   </
                                   td >
                                   </
                                   tr >
                                   </
                                   table >
}

    <
        private table 

        private class ="adminContent">
            <

        private tr 
    >
        <
        private td 
    >
        private @T("Admin.Configuration.Languages.Resources.Description")
    </
        private td 
    >
        </
        private tr 
    >
        <
        private tr 
    >
        <
        private td 
    >
        <
        private div id = "resources-grid" ></
        private div 
    >

        <
        private script 
    >
        $(
        private document 
    ).

        private ready(function ()
        {
        $
            ("#resources-grid").kendoGrid(
            {
                {
                    "json",
                    {
                        {
                            "@Html.Raw(Url.Action("
                            Resources
                            ", "
                            Language
                            ", new { languageId = ViewBag.LanguageId }))",
                            "POST",
                            "json",
                            "application/json"
                            //any-forgery does not work with this contentType for some reasons
                            //data: addAntiForgeryToken
                        }
                    ,
                        {
                            "@Html.Raw(Url.Action("
                            ResourceAdd
                            ", "
                            Language
                            ", new { languageId = ViewBag.LanguageId }))",
                            "POST",
                            "json",
                            addAntiForgeryToken
                        }
                    ,
                        {
                            "@Html.Raw(Url.Action("
                            ResourceUpdate
                            ", "
                            Language
                            "))",
                            "POST",
                            "json",
                            addAntiForgeryToken
                        }
                    ,
                        {
                            "@Html.Raw(Url.Action("
                            ResourceDelete
                            ", "
                            Language
                            "))",
                            "POST",
                            "json",
                            addAntiForgeryToken
                        }
                    ,
                        function(data, operation)
                        {
                            if (operation != "read")
                            {
                                return data;
                            }
                            //for some reasons only such "Filter" data be parsed
                            return JSON.stringify(data);
                        }
                    }
                ,
                    {
                        "Data",
                        "Total",
                        "Errors",
                        {
                            "Id",
                            {
                                {
                                    true,
                                    "string"
                                }
                            ,
                                {
                                    true,
                                    "string"
                                }
                            ,
                                {
                                    false,
                                    "number"
                                }
                            }
                        }
                    }
                ,
                    function(e)
                    {
                        if (e.type == "create" || e.type == "update")
                        {
                            this.read();
                        }
                    }
                ,
                    function(e)
                    {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    }
                ,
                    (defaultGridPageSize),
                    true,
                    true,
                    true
                }
            ,
                {
                    true,
                    (gridPageSizes)]
                }
            ,
                true,
                {
                    "create",
                    "@T("
                    Admin.Common.AddNewRecord
                    ")"
                }
            ],
                {
                    false,
                    "inline"
                }
            ,
                {
                    false,
                    {
                        string :
                        {
                            "Contains",
                            "Is equal to",
                            "Starts with"
                        }
                    }
                }
            ,
                false,
                {
                    "Name",
                    "@T("
                    Admin.Configuration.Languages.Resources.Fields.Name
                    ")",
                    300,
                    true,
                    true
                }
            ,
                {
                    "Value",
                    "@T("
                    Admin.Configuration.Languages.Resources.Fields.Value
                    ")",
                    300,
                    true,
                    true
                }
            ,
                {
                    {
                        "edit",
                        {
                            "@T("
                            Admin.Common.Edit
                            ")",
                            "@T("
                            Admin.Common.Update
                            ")",
                            "@T("
                            Admin.Common.Cancel
                            ")"
                        }
                    }
                ,
                    {
                        "destroy",
                        "@T("
                        Admin.Common.Delete
                        ")"
                    }
                ],
                    200,
                    false
                }
            ]
            }
        )
            ;
        }

    );

        </
        private script 
    >
        </
        private td 
    >
        </
        private tr 
    >
        </
        private table 
    >
    ; 