@model CategoryBoxModel
@if (Model.Posts.Any())
{
    var firstPost = Model.Posts.First();
    <div class="boxctn">
        <h2><span class="headrib"></span></h2>
        <a href="@Url.RouteUrl("Post", new { SeName = firstPost.SeName })">
            <span class="loading"><img src="@firstPost.DefaultPictureModel.ImageUrl" width="267" height="164" alt="@firstPost.DefaultPictureModel.AlternateText" class="bigimg" /></span>
            <span class="txlink">@firstPost.Name</span>
        </a>
        @if (Model.Posts.Count > 1)
        {
            <ul class="listboxnews">
                @foreach (var post in Model.Posts.Skip(1))
                {
                    <li>
                        <span class="rightarr icn"></span>
                        <a href="@Url.RouteUrl("Post", new { SeName = post.SeName })">@post.Name</a>
                    </li>
                }
            </ul>
        }
    </div>
}

