@model CategoryBoxModel
@if (Model.Posts.Any())
{
    var firstPost = Model.Posts.First();
    <div class="boxctn">
        <h2><a href="@Url.RouteUrl("Category", new {Model.SeName})" class="headtitle">DU LỊCH QUA ẢNH</a></h2>
        <a href="@Url.RouteUrl("Post", new { SeName = firstPost.SeName })" class="thumb">
            <span class="loading"><img src="@firstPost.DefaultPictureModel.ImageUrl" width="268" height="135" alt="@firstPost.DefaultPictureModel.AlternateText" class="bigimg" /></span>
            <span class="linetxt">@firstPost.Name</span>
        </a>
        @if (Model.Posts.Count() > 1)
        {
            <ul class="subimg">
                @foreach (var post in Model.Posts.Skip(1))
                {
                    <li>
                        <a href="@Url.RouteUrl("Post", new { SeName = post.SeName })">
                            <span class="loading"><img src="@post.DefaultPictureModel.ImageUrl" width="130" height="80" alt="@post.DefaultPictureModel.AlternateText" /></span>
                        </a>
                    </li>
                }
            </ul>
        }
    </div>
}
