@model IEnumerable<PostOverviewModel>
@if (Model != null & Model.Any())
{
    <div class="other_video">
        <h2>
            <b>Các video khác</b>
        </h2>
        <ul>
            @foreach (var post in Model)
            {
                <li>
                    <a href="@Url.RouteUrl("Post", new { post.SeName })" class="videothumb">
                        <span class="loading">
                            <img src="@post.DefaultPictureModel.ImageUrl" width="185" height="135" alt="@post.DefaultPictureModel.AlternateText" />
                        </span>
                    </a><a href="@Url.RouteUrl("Post", new { post.SeName })">@post.Name</a>
                    <p class="datecreate">Ngày đăng: @post.CreatedOn.ToString("dd/MM/yyy")</p>
                </li>
            }
        </ul>
    </div>
}
