@model IEnumerable<PostOverviewModel>
@if (Model.Any())
{
    var firstPost = Model.First();
    <div class="hotnews">
        <a href="@Url.RouteUrl("Post", new {firstPost.SeName})">
            <span class="loading"><img src="@firstPost.DefaultPictureModel.ImageUrl" width="470" height="260" alt="" class="newsimg" /></span></a>
        <h1>
            <a href="@Url.RouteUrl("Post", new {firstPost.SeName})">@firstPost.Name</a>
        </h1>
        <p class="content">@firstPost.ShortDescription</p>

        <p class="recent_news">

            @if (Model.Count() > 1)
            {
                foreach (var post in Model.Skip(1).Take(2))
                {
                    <em></em>
                    <a href="@Url.RouteUrl("Post", new {post.SeName})">@post.Name</a>
                    <br/>
                }
            }
        </p>
    </div>

    if (Model.Count() > 3)
    {
        var fourthPost = Model.Skip(3).First();
        <p class="caption">Các tin khác</p>
        <div class="listnews">
            <div class="toplist">
                <a href="@Url.RouteUrl("Post", new {fourthPost.SeName})">
                    <span class="loading"><img src="@fourthPost.DefaultPictureModel.ImageUrl" width="170" height="107" alt="@fourthPost.DefaultPictureModel.AlternateText" /></span>
                    <span> @fourthPost.Name</span>
                </a>
            </div>
            @if (Model.Count() > 4)
            {
                <ul>
                    @foreach (var post in Model.Skip(4))
                    {
                        <li>
                            <a href="@Url.RouteUrl("Post", new {post.SeName})">
                                @post.Name
                            </a>
                        </li>
                    }
                </ul>
            }
        </div>
        <script type="text/javascript">
            var niceScroll;
            $(document).ready(function() {
                enableNiceScroll();
            });

            function enableNiceScroll() {
                if (niceScroll && $(window).width() <= 400) {
                    niceScroll.remove();
                    niceScroll = null;
                }
                if (!niceScroll && $(window).width() > 400) {
                    niceScroll = $(".listnews").niceScroll({ cursorcolor: "#aaa" });
                }
            }

            $(window).resize(function() {
                enableNiceScroll();
            });
        </script>
    }
}