@model IList<PostOverviewModel>

@if (Model.Count > 0)
{
    <h2>Tin liên quan</h2>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a href="@Url.RouteUrl("Post", new {item.SeName})" class="thumbrelatenew">
                    <img class="otherimg" src="@item.DefaultPictureModel.ImageUrl" alt="@item.DefaultPictureModel.AlternateText"/>
                </a>
                <a class="titlenews" href="@Url.RouteUrl("Post", new {item.SeName})">@item.Name</a>
                <p class="time_post">@item.CreatedOn.ToString("HH:mm dd/MM/yyyy")</p>
            </li>
        }
    </ul>
}
