@model NewPostModel
@{
    Layout = "~/Views/Shared/_OneColumn.cshtml";
    ViewBag.Title = "Create";
    Html.AddScriptParts("~/Scripts/plupload/plupload.full.min.js");
    Html.AddScriptParts("~/Scripts/plupload/plupload.min.js");
    Html.AddScriptParts("~/Scripts/plupload/i18n/vi.js");
}

<div class="previewBox">

</div>

<p class="txthead">Viết bài</p>
@using (Html.BeginForm(null,null,FormMethod.Post,new {id = "frmPost"}))
{   
    @Html.ValidationSummary(false)
    <div class="writeblog_box">
        <div class="inner_writeblog">
            <label>
                <b>Tiêu đề</b>
                @Html.TextBoxFor(model => model.Title, new {@class = "textinput"})
                @Html.ValidationMessageFor(model => model.Title)
            </label>
            <label>
                <b>Nội dung</b>
                @Html.EditorFor(model => model.Body)
                @Html.ValidationMessageFor(model => model.Body)
            </label>
            <label>
                <b>Chọn chủ đề</b>
                @Html.DropDownListFor(model => model.CategoryId, Model.AvailableCategories, "[-- Chọn --]")
                @Html.ValidationMessageFor(model => model.CategoryId)
            </label>
            <label>
                <b>Nhập từ khóa</b>
                @Html.TextBoxFor(model => model.PostTags, new {@class = "textinput", placeholder = "Các từ khóa cách nhau dấu ,"})
                @Html.HiddenFor(model => model.PictureIds)
            </label>
            <label class="clearfix">
                <p class="writeblogact" id="container">
                    <a href="#" id="browse" class="btn01">Chọn hình</a>
                </p>
            </label>
          
            <label>
                <div class="AttachmentEditor">
                    <ol class="AttachmentList New">
                        <li id="AttachedFileTemplate" class="AttachedFile  secondaryContent">
                            <div class="Thumbnail">
                                <span class="genericAttachment"></span>
                            </div>
                            <div class="AttachmentText">
                                <div class="Filename"><a href="#" target="_blank"></a></div>
                                <input type="button" value="Hủy" class="button smallButton AttachmentCanceller">
                                <span class="ProgressMeter"><span class="ProgressGraphic"><span class="ProgressCounter">0%</span></span></span>
                                <div class="controls JsOnly" styles="display:none">
                                    <input type="button" value="Xóa" class="button smallButton AttachmentDeleter" style="display: block;" onclick="deletePicture(this)">
                                    <input type="button" name="image" value="Chèn" class="button smallButton AttachmentInserter" onclick="insertImage(this)">
                                </div>
                            </div>
                        </li>

                        @*<li id="attachment4297279" class="AttachedFile  secondaryContent AttachedImage" style="opacity: 1;">

                            <div class="Thumbnail">

                                <a href="https://nhattao.cdnforo.com/users/2015/12/4310026_5f5957bdf18d82b1e59d87c250d7fada.jpg" target="_blank" data-attachmentid="4297279" class="_not_LbTrigger" data-href="misc/lightbox"><img src="https://nhattao.cdnforo.com/users/2015/12/4310026_5f5957bdf18d82b1e59d87c250d7fada_thumb.jpg" alt="slide-3-1270x415.jpg" class="_not_LbImage" data-src="attachments/slide-3-1270x415-jpg.4297279/?embedded=1&amp;temp_hash=3b6bb413b9d795b366d6e0701c8c2981"></a>

                            </div>

                            <div class="AttachmentText" style="">
                                <div class="Filename"><a href="https://nhattao.cdnforo.com/users/2015/12/4310026_5f5957bdf18d82b1e59d87c250d7fada.jpg" target="_blank">slide-3-1270x415.jpg</a></div>





                                <div class="label JsOnly">Chèn:</div>


                                <div class="controls JsOnly">
                                    <input type="button" value="Xóa" class="button smallButton AttachmentDeleter" data-href="attachments/slide-3-1270x415-jpg.4297279/delete?temp_hash=3b6bb413b9d795b366d6e0701c8c2981" style="display: block;">


                                    <input type="button" name="thumb" value="Thumbnail" class="button smallButton AttachmentInserter">
                                    <input type="button" name="image" value="Kích thước đầy đủ" class="button smallButton AttachmentInserter">

                                </div>


                            </div>

                        </li>*@
                     </ol>



                </div>
            </label>
            <p class="writeblogact">
                <a href="#" class="btn01" id="btnSend" onclick="$('#frmPost').submit()">Đăng bài</a>
                <a href="#" class="btn01" id="btnPreview">Xem trước</a>
                <a href="@Url.RouteUrl("CustomerSummary")" class="btn01 cancel">Hủy bỏ</a>
            </p>
            <div class="clr"></div>
        </div>
    </div>
}

<script type="text/javascript">

    //product tags
    $(document).ready(function() {
        var sampleTags = ['e-commerce', 'nopCommerce', 'sample tag', 'money', 'blog', 'moey'];
        $("#PostTags").tagit({
            availableTags: sampleTags,
            allowSpaces: true,
            tagLimit: 5
        });
        $("#btnPreview").click(function () {
            tinyMCE.triggerSave();
            $('.previewBox').html($("#Body").val());
            $('.previewBox').show();
        });
        $(document).submit(function (e) {
            
            tinyMCE.triggerSave();
            var form = new FormData();
            form.append("Title", $("#Title").val());
            form.append("Body", $("#Body").val());
            form.append("PostTags", $("#PostTags").val());
            form.append("CategoryId", $("#CategoryId").val());
            var ids = [];

            $.each($(".AttachmentList li"), function(index, value) {
                var pictureId = $(this).data("pictureId");
                if(pictureId && pictureId != '')
                ids.push(pictureId);
            });

            form.append("PictureIds", ids.join());

            $.ajax({
                    url: '@(Url.Action("Write", "Posts"))',
                    data: form,
                    type: "POST",
                    dataType: "json",
                    processData: false,
                    contentType: false
                })
                .done(function(result) {
                    if (result.success) {
                        alert("thanh cong");
                    } else {
                        alert("that bai");
                    }
                })
                .fail(function() {
                    alert("error");
                });
            e.preventDefault();
        });
    });
   
    var uploader = new plupload.Uploader({
        runtimes: 'html5,flash,silverlight,html4',
        browse_button: 'browse', // you can pass an id...
        container: document.getElementById('container'), // ... or DOM Element itself
        url: '@(Url.Action("AsyncUpload", "Picture"))',
        filters: {
            max_file_size: '500kb',
            mime_types: [
                { title: "Image files", extensions: "jpg,gif,png,jpeg,bmp" }
            ],
            prevent_duplicates: true
        },

        init: {
            FilesAdded: function (up, files) {
                if (up.files.length > 5) {
                    alert("Chỉ được upload tối đa 5 file");
                    plupload.each(files, function (file) {
                        uploader.removeFile(file);
                    });
                    return;
                }
                plupload.each(files, function (file) {
                    var elm = $("#AttachedFileTemplate").clone();
                    $(elm).attr("id", file.id).addClass("AttachedImage");
                    $(elm).find(".AttachmentText .Filename a").text(file.name);
                    $(elm).appendTo(".AttachmentList");
                });
                uploader.start();
            },

            UploadProgress: function (up, file) {
                var elm = $("#" + file.id);
                $(elm).find(".ProgressGraphic").width(file.percent + "%");
                $(elm).find(".ProgressCounter").text(file.percent + "%");

            },

            Error: function (up, err) {
                alert(err.code + ": " + err.message); 
                up.splice();
            },

            FileUploaded: function (up, file, response) {
                var resObj = $.parseJSON(response.response);
                var elm = $("#" + file.id);
                $(elm).data("pictureId", resObj.pictureId);
                $(elm).find(".ProgressMeter").hide();
                $(elm).find(".controls").show();
                $(elm).find(".label").show();
                $(elm).find(".Thumbnail").html($("<a target='_blank'></a>").attr("href", resObj.imageUrl).append($("<img/>").attr("src", resObj.imageUrl)));
                $(elm).find(".AttachmentText .Filename a").attr("href", resObj.imageUrl);
                var deleteButton = $(elm).find(".AttachmentDeleter")[0];

                $(deleteButton).data("id", resObj.pictureId);
                $(deleteButton).data("fileid", file.id);

                var insertImageButton = $(elm).find(".AttachmentInserter")[0];

                $(insertImageButton).data("href", resObj.imageUrl);

            }
        }
    });

    function insertImage(obj) {
        var href = $(obj).data("href");
        tinyMCE.execCommand('mceInsertContent', false, '<img height="100%" width="100%" src="' + href + '"/>');
    }
    function deletePicture(obj) {
        var id = $(obj).data("id");
        var fileid = $(obj).data("fileid");
        $.ajax({
                url: '@(Url.Action("Delete", "Picture"))',
                data: { id: id },
                type: "POST",
                dataType: "json"
            })
            .done(function (result) {
                if (result.success){
                    var elm = $("#" + fileid);
                    $(elm).remove();
                    uploader.removeFile(uploader.getFile(fileid));
                }
            })
            .fail(function() {
                alert("error");
            });
    }
    
    uploader.init();
</script>