@model PasswordRecoveryModel
@using TinyCms.Web.Models.Customer;
@{
    Layout = "~/Views/Shared/_OneColumn.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}

<div class="recoverypass">

    <div class="page_inner">
        <div class="content">
            @if (!String.IsNullOrEmpty(Model.Result))
            {
                <label class="results">
                    @Model.Result
                </label>
            }
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <p class="tooltip">
                    @T("Account.PasswordRecovery.Tooltip")
                </p>

                <label>
                    @Html.TextBoxFor(model => model.Email, new { @class = "txtinput", placeholder = "Email (*)" })
                    @Html.ValidationMessageFor(model => model.Email)
                </label>
                <p class="actbtn"><input type="submit" name="send-email" class="recbtn" value="@T("Account.PasswordRecovery.RecoverButton")" /></p>
            }
        </div>
    </div>

</div>

