@model PasswordRecoveryConfirmModel
@{
    Layout = "~/Views/Shared/_OneColumn.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
}
@using TinyCms.Web.Models.Customer;

<div class="recoverypass">

    <div class="page_inner">
        <div class="content">
            @if (!String.IsNullOrEmpty(Model.Result))
            {
                <label class="results">
                    @Model.Result
                </label>
            }
            @if (!Model.DisablePasswordChanging)
            {
                using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <label>
                        @Html.PasswordFor(model => model.NewPassword, new { @class = "txtinput", placeholder = "Mật khẩu mới (*)" })
                        @Html.ValidationMessageFor(model => model.NewPassword)
                    </label>
                    <label>
                        @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "txtinput", placeholder = "Xác nhận mật khẩu mới (*)" })
                        @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                    </label>
                    <p class="actbtn">
                        <input type="submit" name="set-password" class="recbtn" value="@T("Account.PasswordRecovery.ChangePasswordButton")" />
                    </p>
                }
            }
        </div>
    </div>
</div>
