@model CustomerProfileModel
@{
    Layout = "~/Views/Shared/_OneColumn.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
}

<div class="infobox">
    <div class="info_content">
        <div class="avtthumb">
            <img src="@Model.AvatarUrl" alt="avatar" id="avatar"/>
            <a href="#" class="change_avt" title="Đổi avatar">
                <span class="camera icn"></span></a>
        </div>
        <input type="file" style="display: none;" id="fileAvatar"/>
        <p class="username">@(string.IsNullOrWhiteSpace(Model.Fullname) ? Model.Username : Model.Fullname)</p>
        <p class="position">@Model.RoleName</p>
        <p class="numblog">Số lượng bài viết: <span>@Model.TotalPosts.ToString("#,##0")</span></p>
        <a href="@Url.RouteUrl("CreateNewPost")" class="btn01">Viết bài mới</a>

    </div>

    @using (Html.BeginForm(null, null, FormMethod.Get))
    {
        <div style="float: right">
            @Html.DropDownListFor(model => model.Status, Model.StatusList)
        </div>
    }
    <div class="infoblog">
        @if (Model.Posts.Any())
        {
            <table width="100%" border="1">
                <tr>
                    <th scope="col">Tên bài viết</th>
                    <th scope="col">Ngày gửi</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Lượt xem</th>
                    <th scope="col">Lượt bình luận</th>
                    <th scope="col">Lượt chia sẻ</th>

                </tr>
                @foreach (var post in Model.Posts)
                {
                    <tr>
                        <td>
                            @if (post.Publish)
                            {
                                <a href="@Url.RouteUrl("Post", new {post.SeName})">
                                    <img src="@post.DefaultPictureModel.ImageUrl" alt="@post.DefaultPictureModel.AlternateText" class="blog_info"/>
                                    <span>@post.Name</span>
                                </a>
                            }
                            else
                            {
                                <img src="@post.DefaultPictureModel.ImageUrl" alt="@post.DefaultPictureModel.AlternateText" class="blog_info"/>
                                <span>@post.Name</span>
                            }
                        </td>
                        <td>
                            @post.CreatedOn.ToString("dd/MM/yyyy HH:mm")
                        </td>
                        <td>
                            @(post.Publish ? "Đã duyệt" : "Chưa duyệt")
                        </td>
                        <td>@post.ViewCount.ToString("#,##0")</td>
                        <td>@post.CommentCount.ToString("#,##0")</td>
                        <td>@post.ShareCount.ToString("#,##0")</td>
                    </tr>
                }

            </table>
            <div class="clr"></div>
            var pager = Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber");
            if (!pager.IsEmpty())
            {
                <div class="pager">
                    @pager
                </div>
            }
        }
        else
        {
            <p class="err">
                Hiện tại bạn chưa có bài viết nào, <a href="@Url.RouteUrl("CreateNewPost")">Viết ngay</a>
            </p>
        }


    </div>
</div>
<script type="text/javascript">
    $(".change_avt").click(function() {
        $("#fileAvatar").trigger("click");
    });
    $("#fileAvatar").change(function() {
            var formData = new FormData();
            formData.append("uploadedFile", $("#fileAvatar")[0].files[0]);
            $.ajax({
                url: "@Url.Action(\
                          "ChangeAvatar\",\"Customer\")",
                          formData,
                          "json",
                          "POST",
                          false,
                          false
}

    ).

        private done(function (result);
        {
            if (result.success)
            {
                d = new Date();
                $
                ("#avatar, img.avt").attr("src", result.avatarUrl + "?" + d.getTime());
            }
            else
            {
                alert(result.message);
            }
        }
    );
    });
    $("#Status").change(function() {
        $(this).closest("form").submit();
    });
</script>