@model UserInfoZoneModel

@if (Model.IsAuthenticated)
{
    <img src="@Model.AvatarUrl" alt="" class="avt"><span class="botarr icn"></span>
    <div class="sub_info">
        <span class="toparr icn"></span>
        <ul>
            <li><a href="@Url.RouteUrl("CustomerSummary")">Trang cá nhân</a></li>
            <li><a href="#">Cài đặt</a></li>
            <li><a href="@Url.RouteUrl("Logout")">Thoát</a></li>
        </ul>
    </div>
}
else
{
    <a href="@Url.RouteUrl("Login")"><img src="@Model.AvatarUrl" alt="" class="avt"></a>
}