@{
    Layout = "~/Views/Shared/_HomePage.cshtml";
}


<div class="top_news">
    @Html.Action("HomePageHotNews", "Posts", new { postThumbPictureSize = 500 })
    @Html.Action("HomePagePosts", "Posts", new { postThumbPictureSize = 200 })
    <div class="rightlist_banner">
        @Html.Widget("home_right_header")
    </div>
</div>
@Html.Partial("ToolBoxMobile")

@Html.Action("HomePagePicturesAndVideos", "Posts")
<div class="large_banner">
    @Html.Widget("home_wide_banner")
</div>
<div class="mainpage">
    <div class="leftcol">
        @Html.Action("HomePageCategories", "Posts")
    </div>
    <div class="sidebar">
        @Html.Partial("ToolBox") 
        @Html.Action("DiscoveryCategory", "Posts")
        @Html.Action("TravelViaPictureCategory", "Posts")
    </div>
    @Html.Widget("sidebar_banner")
</div>
