@{
    Layout = "~/Views/Shared/_Root.cshtml";
}

@Html.Partial("HomePageHeader")
<div class="headpage">
    <div class="tophead clearfix">
        <a href="@Url.RouteUrl("homepage")" class="logo"></a>
        @Html.Widget("home_top_header")
        @*<a href="#" class="topbanner"><img src="temp/top_banner.jpg" width="620" alt="" /></a>*@
    </div>
    <div class="nav">
        @Html.Action("SearchBox", "Posts")
        @Html.Action("TopMenu", "Posts")
    </div>
    @RenderBody()
    @Html.Action("Footer", "Common")
</div>
