@{
    Layout = "~/Views/Shared/_Root.cshtml";
}

@Html.Partial("HomePageHeader")
<div class="headpage">
    <div class="tophead clearfix">
        <a href="@Url.RouteUrl("homepage")" class="logo"></a>
        <div class="topbanner">@Html.Widget("home_top_header")</div>
    </div>
    <div class="nav">
        @Html.Action("SearchBox", "Posts")
        @Html.Action("TopMenu", "Posts")
    </div>
    @RenderBody()
    @Html.Action("Footer", "Common")
</div>
