@using TinyCms.Core.Domain.Common;
@using TinyCms.Core.Infrastructure;
@using TinyCms.Core.Infrastructure
@{
    var displayMiniProfiler = EngineContext.Current.Resolve<TinyCms.Core.Domain.StoreInformationSettings>().DisplayMiniProfilerInPublicStore;

    //X-UA-Compatible tag
    var commonSettings = EngineContext.Current.Resolve<CommonSettings>();
    if (commonSettings.RenderXuaCompatible)
    {
        Html.AppendHeadCustomParts(string.Format("<meta http-equiv=\"X-UA-Compatible\" content=\"{0}\"/>", commonSettings.XuaCompatibleValue));
    }
}
<!DOCTYPE html>
<html>
<head>
    <title>@Html.NopTitle(true)</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="@(Html.NopMetaDescription())" />
    <meta name="keywords" content="@(Html.NopMetaKeywords())" />
    <meta name="generator" content="Vietnam4u" />
    <meta content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" name="viewport">

    <link href="http://css.me.zdn.vn/v4/font/Roboto/roboto_font-1.02.css" rel="stylesheet" type="text/css">
    @*<script src="https://code.jquery.com/jquery-1.10.2.js" type="text/javascript"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    @Html.NopHeadCustom()
    @*This is used so that themes can inject content into the header*@
    @Html.Partial("Head")
    @Html.Widget("head_html_tag")
    @Html.NopCssFiles(this.Url, ResourceLocation.Head)
    @Html.NopScripts(this.Url, ResourceLocation.Head)
    @Html.NopCanonicalUrls()
    @*Favicon - upload favicon.ico file to the root directory*@
    @*@Html.Action("Favicon", "Common")*@
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")?v=1" />
    @if (displayMiniProfiler)
    {
        @StackExchange.Profiling.MiniProfiler.RenderIncludes()
    }
    <!--Powered by nopCommerce - http://www.nopCommerce.com-->
</head>
<body>

    @Html.Partial("_Social")
    <div class="indicator">Loading&#8230;</div>
    @RenderBody()
    @Html.NopCssFiles(this.Url, ResourceLocation.Foot)
    @Html.NopScripts(this.Url, ResourceLocation.Foot)
</body>
</html>
