@using TinyCms.Services.Security
@model DashboardModel
@{
    //page title
    ViewBag.Title = T("Admin.Dashboard").Text;

    var permissionService = EngineContext.Current.Resolve<IPermissionService>();
    var canManageCustomers = permissionService.Authorize(StandardPermissionProvider.ManageCustomers);
    var canManagePosts = permissionService.Authorize(StandardPermissionProvider.ManagePosts);
}
@Html.AntiForgeryToken()
<div class="section-title">
    <img src="@Url.Content("~/Administration/Content/images/ico-dashboard.png")" alt=""/>
    @T("Admin.Dashboard")
</div>
<table class="dashboard">
    <tr>
        <td class="maincol">
            <div class="section-header">
                <div class="title">
                    <img src="@Url.Content("~/Administration/Content/images/ico-stat1.gif")" alt=""/>
                    @T("Admin.Dashboard.StoreStatistics")
                </div>
            </div>
            @if (canManageCustomers)
            {
                <table class="stats">
                    <tbody>
                    <tr>
                        @if (canManageCustomers)
                        {
                            <td class="customerstatistics">
                                <div class="statisticsTitle">
                                    @T("Admin.Customers.Reports.RegisteredCustomers")
                                </div>
                                @Html.Action("ReportRegisteredCustomers", "Customer")
                            </td>
                        }
                        @if (canManagePosts)
                        {
                            <td class="search-term-statistics">
                                <div class="statisticsTitle">
                                    @T("Admin.SearchTermReport")
                                </div>
                                @Html.Action("PopularSearchTermsReport", "Common")
                            </td>
                        }
                    </tr>
                    </tbody>
                </table>
            }
        </td>

    </tr>
</table>